#UList, a{
    color: rgb(252, 173, 186);
}
#UList #topFive a:hover{
    color: rgb(34, 165, 34);    
}
a {
    text-shadow: .5px 0px 0px rgb(154, 25, 46);
    text-decoration: none;
}
#topFive{
    font-size: 20px
}
.lists{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 100px;
}